*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}
/* Shared Style */
.btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
.section-head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-section-head{
    max-width: 852px;
    text-align: center;
}
.section-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-des{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* navigation part start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px;
}
nav h2{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
/* Banner part start */
.banner{
    background: url("../assets/Hero-bg.png");
    text-align: center;
    margin-bottom: 74px;

}
.banner-content{
    padding: 26px 0 44px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content a{
    text-decoration: none;
    color: #FFFFFF;
}
.banner-content button{
    cursor: pointer;
}

.inner-banner-content{
    max-width: 998px;
}
.banner-content h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 32px 0 24px 0;
}
.banner-content p{
    color: rgb(13, 19, 33); 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}
.banner-content button{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(255, 255, 255);
    border: none;
}
/* About part start */
.about{
    text-align: center;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 90px;
}
.inner-learn{
    display: flex;
    justify-content: space-between;
    padding: 48px 48px;
    background: #FFFFFF;
    margin-top: 48px;
    gap: 30px;
}
.learn-text{
    text-align: left;
}
.learn-text h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.learn-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}
.learn-text button{
    padding: 12px 20px 12px 20px;
    border-radius: 0;
}
.learn-text button a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
/* Inspiration part start */
.inspiration{
    margin-bottom: 137px;
}
.inspiration .section-head{
    margin-bottom: 48px;
}
.inspiration-video{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    padding: 32px 0;
}
/* Current Target part start */
.current-target{
    margin-bottom: 111px;
}
.current-target-item{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 48px;
}
.target-card1{
    padding: 40px 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-card1 h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 24px 0 8px 0;
}
.target-card1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    opacity: 0.7;
}
.target-card1 a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
.target-card2{
    padding: 40px 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-card2 h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 24px 0 8px 0;
}
.target-card2 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    opacity: 0.7;
}
.target-card2 a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
.target-card3{
    padding: 40px 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.target-card3 h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 24px 0 8px 0;
}
.target-card3 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    opacity: 0.7;
}
.target-card3 a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
/* Next Target start */
.next-target .section-head{
    margin-bottom: 48px;
}
.next-target-row{
    display: flex;
    padding: 40px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;   
}
.next-target-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-target-row img{
    margin-right: 24px;
}
.next-target-item-text h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}
.next-target-item-text P{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    opacity: 0.7;
}
.next-target-item-text a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
/* support part start */
.support{
    margin-top: 43px;
    margin-bottom: 80px;
}
.inner-support{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.5)),
    url("../assets/handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px;
    border-radius: 16px;
}
.inner-support .inner-section-head h3{
    color: rgb(255, 255, 255);
}
.inner-support .inner-section-head p{
    color: rgb(255, 255, 255);
}
.feedback{
    text-align: center;
    margin-top: 24px;
}
.feedback input[type="text"]{
    width: 548px;
    padding: 19px 20px 19px 20px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.feedback input[type="submit"]{
    padding: 17px 20px 17px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    margin-left: 16px;
}
/* Footer part start */
.foot{
    padding: 32px 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.foot h4{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.foot ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.foot ul li{
    list-style: none;
}